#pre-generated
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
.DS_Store
.idea
.project
.strong-pm
coverage
node_modules
uploads
newrelic.js
npm-debug.log

#pre-generated-end

server/datasources.json
server/datasources.development.json
server/datasources.test.json
server/datasources.production.json
server/datasources.serverdev.json
server/datasources*
server/postgres-datasource*

server/postgres-datasources.js

server/application-config.js

#remove ssl-config
server/ssl-config.js

#remove aws-config
server/aws-config.json
server/newrelic.js

pm2-process.json
.vscode/

package-lock.json
yarn.lock

# VS Code file history extension
.history/
